@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #2c333e;*/
    background-color: #f2f2f2;
    font-family: Roboto;
    font-size: 14px;}

body.lock {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
}
::-webkit-input-placeholder {
    font-size: 14px;
    color: #737272;
}

::-moz-placeholder {
    font-size: 14px;
    color: #737272;
}

:-ms-input-placeholder {
    font-size: 14px;
    color: #737272;
}

:-moz-placeholder {
    font-size: 14px;
    color: #737272;
}

ins {
    text-decoration: none;
}

.center {
    width: 1300px;
    margin: 0 auto;
}


/*************************
*******Pre page menu CSS******
**************************/


.pre_page_menu_container {
    padding: 4px 0px 6px 0px;
    display: flex;
    flex-direction: row;
}

.pre_page_menu_container_left{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-right: auto;
}

.pre_page_menu_container_right{
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
}

.pre_page_menu {
    background: #2f3742;
    min-height: 40px;
}

.pre_page_menu {
    position: fixed;
    width: 100%;
    z-index: 12;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.page_menu {
    padding-top: 33px;
}

.pre_page_menu nav {
    text-align: right;
}

.pre_page_menu nav a {
    font-size: 20px;
    color: #313030;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px 25px;
    margin: 0 20px;
}

.pre_page_menu nav a:hover {
    background: #03615a;
    text-decoration: underline;
}

.pre_page_menu nav a.active {
    background: #00b5a9;
    cursosr: default;
}

.pre_page_menu nav a.active:hover {
    background: #00b5a9;
    text-decoration: none;
}

.pre_page_menu a {
    display: inline-block;
    margin-bottom: 0;
    /*margin-left: 20px;*/
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pre_page_menu .info-text {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: #fff;
    line-height: 18px;
    transition-duration: .3s;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    margin: 0px 0px 0px 10px;
}

.pre_page_menu .right {
    color: #000;
}

.pre_page_menu .info-text:hover {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
}

.pre_page_menu_avatar{
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
    border-radius: 50%;
}


.new_main_menu {
    /*background: linear-gradient(#fff, #e8e8e8);*/
    background: #F4F3F1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

/*Current new nav menu*/
.container {
    padding: 28px 0px 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container_vert {
    padding: 47px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav {
    margin: 0px 0px 0px 0px;
    list-style: none;
}

.nav > li {
    margin-right: 5px;
    border: 1px solid #ececec;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    transition-duration: .3s;
    padding: 0px;
}

.nav > li > a {
    text-decoration: none;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 30px;
    font-weight: 500;
    color: #2f3742;
}

.nav > .active > a, nav > .active > a:hover, nav > .active > a:focus {
    color: #2f3742;
    transition-duration: .3s;
}

.nav > li a {
    transition-duration: .2s;
}

.nav > li.active a, .nav > li.active:hover > a, nav > li.active:focus > a {
    color: #fff;
}

.nav > li:hover{
    background: #797979;
    border-color: #fff;
}

nav > li:focus {
    background: #e00616;
    border-color: #e00616;
}

.nav > li.active, nav > li:focus {
    background: #797979;
    border-color: #fff;
}

.nav > li:hover > a, nav > li:focus > a {
    color: #fff;
}

.nav span {
    text-transform: uppercase;
}



.lk-content{
    /*height: 40px;*/
    display: inline-block;
}

.lk-content:hover .lk-block{
    display: block;
}


.lk-twomenu{
    height: 40px;
    display: inline-block;
}

.lk-twomenu:hover .lk-block{
    display: block;
}
.lk-block{
    top: 40px;
    margin: 0px 0px 0px 10px;
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    /*padding: 6px;*/
    display: none;
}

.lk-block ul{
    margin: 0px;
    padding: 2px;
}

.lk-block ul li{
    list-style-type: none;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    transition-duration: .3s;
    cursor: pointer;
}

.lk-block ul li:hover{
    background: rgba(0,0,0,0.1);
}

.lk-block ul li a{
    text-align: left;
    color: #000;
    font-weight: 500;
    width: 100%;
    display: inline-block;
}




li.list-pod-menu a{
    padding-right: 24px!important;
}
li.list-pod-menu:hover:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    transform: rotate(180deg);
}
li.list-pod-menu:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 12px;
    right: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #2f3742;
    transition-duration: .3s;
}
li.active.list-pod-menu:after{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
}
.list-pod-menu{
    position: relative;
}
.list-pod-menu:hover .list-pod-menu-view{
    width: 290px;
    height: 210px;
    opacity: 1;
}
.list-pod-menu-view{
    width: 0px;
    height: 0px;
    position: absolute;
    top: 29px;
    left: 0px;
    z-index: 12;
    opacity: 0;
    overflow: hidden;
    transition-duration: 0.3s;
}
.list-pod-menu-content{
    width: 290px;
    height: 170px;
    background: #fff;
    margin-top: 4px;
    border-radius: 6px;
    border: 1px solid #ececec;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}
.list-pod-menu-content{
    padding: 20px;
    padding-top: 14px;
}
.list-pod-menu-content ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.title-kategory-list-pod-menu{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #000;
    border-bottom: 2px solid #e00616;
    padding-bottom: 6px;
}
.list-pod-menu .list-pod-menu-content ul li{
    margin-bottom: 8px;
}
#navbarCollapse .list-pod-menu .list-pod-menu-content ul li a{
    padding: 0px!important;
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
    color: #2f3742;
    transition-duration: .3s;
}
#navbarCollapse .list-pod-menu .list-pod-menu-content ul li.active a{
    color: #e00616;
}
#navbarCollapse .list-pod-menu .list-pod-menu-content ul li a.disabled{
    color: #999;
}
#navbarCollapse .list-pod-menu .list-pod-menu-content ul li a.disabled:hover{
    color: #999;
}
#navbarCollapse .list-pod-menu .list-pod-menu-content ul li a:hover{
    color: #e00616;
}



/*OLD nav menu*/
/*.main_menu {*/
/*    background: linear-gradient(#fff, #e8e8e8);*/
/*    padding: 60px 0px;*/
/*}*/

/*.main_menu nav {*/
/*    text-align: center;*/
/*}*/

/*.main_menu nav a {*/
/*    font-size: 20px;*/
/*    color: #313030;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    vertical-align: top;*/
/*    padding: 5px 25px;*/
/*    margin: 0 20px;*/
/*}*/

/*.main_menu nav a:hover {*/
/*    background: #03615a;*/
/*    text-decoration: underline;*/
/*}*/

/*.main_menu nav a.active {*/
/*    background: #00b5a9;*/
/*    cursosr: default;*/
/*}*/

/*.main_menu nav a.active:hover {*/
/*    background: #00b5a9;*/
/*    text-decoration: none;*/
/*}*/

.logo_section {
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.slider_style {
    padding: 0px 0px 50px 0px;
    font-size: 22px;
}

.slider_param {
    width: 1300px;
    margin: 0 auto;
}

.triggers {
    padding: 0px 0px 85px 53px;
}

.triggers ul li {
    width: 370px;
    height: 232px;
    background: #e5e5e7;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    padding: 26px 27px;
}

.triggers ul li img {
    float: left;
}

.triggers ul li .triggers_title {
    font-size: 20px;
    line-height: 33px;
    color: #000;
}

.triggers ul li .triggers_title ins {
    display: block;
    color: #fdc903;
}

.triggers ul li p {
    clear: both;
    font-size: 14px;
    line-height: 20px;
    color: #878787;
    margin-top: 35px;
}

.content {
    padding: 25px 0px;
    font-size: 22px;
}

.content_title {
    padding: 0px 0px 0px 0px;
    font-size: 24px;
    text-align: center;
    color: #2f3742;
	padding: 0px 0px 50px 0px;
}

.auth {
    padding: 50px 0px;
    font-size: 22px;
}

.profile {
    padding: 0px 0px 50px 0px;
    font-size: 22px;
}

.round_img {
     border-radius: 100px; /* Радиус скругления */
     border: 3px solid green; /* Параметры рамки */
     box-shadow: 0 0 7px #656; /* Параметры тени */
     object-fit: cover;
}

img.avatar {
    border-radius: 50%;
}

.stop {
    border-radius:200px;
    border:2px #CC3300 solid;
    width:380px;
    height:380px;
    overflow:hidden;
    text-align:center;
    margin:auto;
}

.dl {
    margin-top: 1em;
    margin-bottom: 1em;
}

.booking_form {
    padding-top: 50px;
}

.booking_form .form {
    /*width: 440px;*/
    padding: 0px 0px 85px 26px;
}

.booking_form textarea {
    background: #f0f3f5;
    padding: 13px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    color: #000;
    height: 143px;
    width: 100%
}

.booking_form input[type="submit"] {
    width: 97px;
    height: 38px;
    background: #00b5a9;
    font-size: 14px;
    color: #fff;
    border: 0;
    margin-top: 23px;
    cursor: pointer;
}

.booking_form input[type="submit"]:hover {
    color: #00b5a9;
    background: #000;
}

.booking_form .booking_form_title {
    font-size: 36px;
    color: #313030;
    padding-bottom: 20px;
}

.booking_form .input_smalls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

/*input[type="text"] {*/
/*    height: 30px;*/
/*    background: #f0f3f5;*/
/*    padding: 0 13px;*/
/*    border: 1px solid #000;*/
/*    font-size: 14px;*/
/*    color: #000;*/
/*}*/

.booking_form .input_smalls input[type="text"] {
    width: 193px;
    margin-bottom: 14px;
}

.booking_form .input_label label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: start;
    margin-bottom: 14px;
}

.booking_form .input_label input[type="text"] {
    width: 336px;
}

.booking_form .input_label input[type="text"]#datepicker {
    background-image: url('../img/ico/calendar.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}


.booking_form .input_label span {
    font-size: 14px;
    color: #737272;
    line-height: 30px;
    margin-right: 20px;
}


.booking_form .products_title {
    font-size: 36px;
    color: #313030;
    padding-bottom: 30px;
    padding-left: 470px;
}

.products {
    margin-top: 3px;
}

.products ul {
    list-style: none;
}

.products ul li {
    margin-bottom: 70px;
    position: relative;
}

.products ul li span {
    width: 312px;
    height: 44px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, .54);
    font-size: 30px;
    color: #fff;
    line-height: 44px;
    padding-left: 30px;
}

.form_radio {
    margin-bottom: 10px;
}

.form_radio input[type=radio] {
    display: none;
}

.form_radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
}

.form_radio label:before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 18px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(/img/radio1.png) 0 0 no-repeat;
}

/* Checked */
.form_radio input[type=radio]:checked + label:before {
    background: url(/img/radio2.png) 0 0 no-repeat;
}

/* Hover */
.form_radio label:hover:before {
    filter: brightness(120%);
}

/* Disabled */
.form_radio input[type=radio]:disabled + label:before {
    filter: grayscale(100%);
}

footer {
    /*background: #4a4a4a;*/
    background: #F4F3F1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.0666667px 0.133333px 0px, rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
    padding: 0px 0px 0px;
}

footer .center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .copy {
    font-size: 30px;
    color: #fff;
}

footer .copy span {
    font-size: 30px;
    color: #fff;
}

footer .copy ins {
    text-decoration: none;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    color: #fff;
}

footer .phone {
    font-size: 28px;
    color: #fff;
    padding-right: 52px;
}

footer .phone a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

footer .mail {
    font-size: 28px;
    color: #fff;
}

footer .mail a {
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.footer_bottom_bar {
    background-color:#202020;
    color:#696763;
    padding:15px 0 20px
}

.footer_bottom_bar .footer-address,
.footer_bottom_bar .footer-copyrights{
    font-size:14px;
    line-height:18px;
    text-transform:none
}

.footer_bottom_bar .footer-address p,
.footer_bottom_bar .footer-copyrights p{
    font-size:13px;
    line-height:22px
}
.footer_bottom_bar .footer-address p:not(first-child),
.footer_bottom_bar .footer-copyrights p:not(first-child) {
    padding-top:5px
}
.footer-container{
    max-width:1300px;
    width:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 auto;
    padding:0 15px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}

/*input[type="email"] {*/
/*    height: 30px;*/
/*    background: #f0f3f5;*/
/*    padding: 0 13px;*/
/*    border: 1px solid #f1f1f1;*/
/*    font-size: 14px;*/
/*    color: #000;*/
/*}*/

input[type="submit"] {
    width: 175px;
    height: 38px;
    background: #00b5a9;
    font-size: 14px;
    color: #fff;
    border: 0;
    margin-top: 50px;
    cursor: pointer;
}

input[type="submit"]:hover {
    color: #00b5a9;
    background: #000;
}


@font-face {
font-family: "Roboto";
src: url("../fonts/Roboto.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    top: 0;
    left: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open{
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.popup.open .popup_content{
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup_area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content{
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup_content_image{
    padding: 0;
}

.popup_image img {
    max-width: 100%;
    vertical-align: top;
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup_title{
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}
.popup_text{

}

.popup_signin{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup_signin div{
    margin: 10px 0px;
}

.popup_signin button{
    margin: 10px 0px;
}

.table {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0px;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}
.table td {
    border: 1px solid #dddddd;
    padding: 5px;
}


/*************************
*******Shop CSS******
**************************/

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.border {
    width: 300px;
    margin: 12px;
    background: white;
    padding: 20px;
    border: 1px solid #F1E7E8;
}
.wrap {
    height: 100%;
    position: relative;
}
.product-wrap {
    position: relative;
}
.product-wrap:after {
    content: '';
    background: rgba(73, 102, 162, .5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    transform: scale(.3);
    transition: .3s ease-in-out;
}
.border:hover .product-wrap:after {
    opacity: 1;
    transform: scale(1);
}
.product-wrap a {
    display: block;
    text-decoration: none;
}

.product-wrap button {
    display: block;
    text-decoration: none;
}

.product-wrap img {
    display: block;
    width: 100%;
}
.loop-action {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: .3s ease-in-out;
}
.border:hover .loop-action {
    opacity: 1;
}
.loop-action a {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}
.loop-action a:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}
.loop-action a:hover {
    color: black;
    cursor: pointer;
}
.loop-action a:hover:after {
    left: 0%;
}

.loop-action button {
    text-decoration: none;
    display: block;
    border: 1px solid white;
    white-space: nowrap;
    text-transform: uppercase;
    padding: .5em 1em;
    font-size: 14px;
    line-height: 1.6;
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    min-width: 160px;
    margin: 5px auto;
    transition: .3s ease-in-out;
}
.loop-action button:after {
    content: '';
    position: absolute;
    left: -220%;
    top: -500%;
    width: 140%;
    height: 1000%;
    transform: rotate(45deg);
    background: white;
    z-index: -1;
    transition: .3s ease-in-out;
}
.loop-action button:hover {
    color: black;
    cursor: pointer;
}
.loop-action button:hover:after {
    left: 0%;
}

.border:hover {
    border-color: #4966A2;
}
.product-info {
    padding-top: 15px;
}
.stars {
    font-size: 14px;
    font-family: FontAwesome;
}
.stars:before {
    content: "\f005\f005\f005\f005\f123";
    color: #F2453E;
}
.product-title {
    font-weight: normal;
    font-family: "Open Sans";
    color: #162546;
    font-size: 18px;
}
.price {
    font-family: "Open Sans";
    color: #162546;
    font-style: italic;
    font-weight: bold;
}


.footer-distributed{
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    box-shadow: initial;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #202020;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #696763;;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 22px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 20px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #696763;
    font-weight:400;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  lightseagreen;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #696763;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #1f1f1f;;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}










































/*************************
*******Popup login******
**************************/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.login-form{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    /*margin: 0 auto 100px;*/
    padding: 25px;
    text-align: left;
    /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}
.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #797979;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.login-form button:hover,.form button:active,.form button:focus {
    background: #F4F3F1;
    color: #2f3742;
}
.login-form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.login-form .message a {
    color: lightseagreen;
    text-decoration: none;
}
.login-form .register-form {
    display: none;
}












.fa, .fas {
    margin: 0px 5px 0px 0px;
}
















input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

 input[type="email"] {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
}

input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

/*input[type="checkbox"] {*/
/*    width: 100%;*/
/*    padding: 12px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 4px;*/
/*    resize: vertical;*/
/*}*/

.form input[type=submit]:hover {
    background-color: #45a049;
}

.form_container  {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0px;
    font-size: 16px;
}

.form_col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    text-align: start;
}


.form_col-35 {
    float: left;
    width: 35%;
    margin-top: 6px;
    text-align: start;
}

.form_col-45 {
    float: left;
    width: 45%;
    margin-top: 6px;
    text-align: start;
}

.form_col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.form_row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .form_col-25, .form_col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}







.center_profile {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




/*Сингл карточка товара*/




/*************************
*******Product Details CSS******
**************************/

.center_product {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-5 {
    width: 41.66666666666667%;
}

.col-sm-7 {
     width: 58.333333333333336%;
 }


.product-details{
    overflow:hidden;
}


#similar-product {
    margin-top: 40px;
}


#reviews {
    padding-left: 25px;
    padding-right: 25px;
}

.product-details {
    margin-bottom: 40px;
    overflow: hidden;
    margin-top: 10px;
}



.view-product {
    position: relative;
}

.view-product img {
    border: 1px solid #F7F7F0;
    height: 380px;
    width: 100%;
}

.view-product h3 {
    background: #FE980F;
    bottom: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 8px 20px;
    position: absolute;
    right: 0;
}

#similar-product .carousel-inner .item{
    padding-left:0px;
}

#similar-product .carousel-inner .item img {
    display: inline-block;
    margin-left: 15px;
}

.item-control {
    position: absolute;
    top: 35%;
}
.item-control i {
    background: #FE980F;
    color: #FFFFFF;
    font-size: 20px;
    padding: 5px 10px;
}

.item-control i:hover{
    background:#ccccc6;
}

.product-information {
    border: 2px solid #b59a90;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 115px;
    margin-top: 55px;
}

.newarrival{
    position:absolute;
    top:0;
    left:0
}

.product-information h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin-top: 0;
}

.product-information p {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.product-information span {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 18px;
}

.product-information span span {
    color: #FE980F;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 0px;
}
.product-information span input {
    border: 1px solid #DEDEDC;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 33px;
    outline: medium none;
    text-align: center;
    width: 50px;
}

.product-information span label {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-right: 5px;
}

.share {
    margin-top: 15px;
}


.cart {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
	width: 110px;
	height: 40px;
}


.shop-details-tab {
    border: 1px solid #F7F7F0;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 10px;
}
.shop-details-tab .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}


#reviews ul {
    background: #FFFFFF;
    border: 0 none;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 0;
}

#reviews  ul  li {
    display:inline-block;
}

#reviews ul li a {
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

#reviews ul li a i{
    color:#FE980F;
    padding-right:8px;
}

#reviews ul li a:hover{
    background:#fff;
    color:#FE980F;
}

#reviews p{
    color:#363432;
}

#reviews  form span {
    display: block;
}

#reviews form span input {
    background:#F0F0E9;
    border: 0 none;
    color: #A6A6A1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    outline: medium none;
    padding: 8px;
    width: 48%;
}
#reviews form span input:last-child {
    margin-left: 3%;
}

#reviews textarea {
    background: #F0F0E9;
    border: medium none;
    color: #A6A6A1;
    height: 195px;
    margin-bottom: 25px;
    margin-top: 15px;
    outline: medium none;
    padding-left: 10px;
    padding-top: 15px;
    resize: none;
    width: 99.5%;
}

#reviews button {
    background: #FE980F;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}



