<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
</head>
<body>

<header th:replace="blocks/menu"></header>

<div class="wrapper">

    <section class="content">
        <div class="center">
            <div class="content_title"><h1>Добро пожаловать на сайт фотосалона!</h1></div>
        </div>
        <div class="center">
            <p>OK</p>
        </div>
    </section>


    <div th:insert="blocks/footer"></div>

</div>
</body>
</html>
