<footer th:fragment="footer">

    <div class="footer-container">
        <div class="footer_menu">

            <footer class="footer-distributed">
                <div class="footer-left">
                    <h3>Фото<span>салон</span></h3>
                    <p class="footer-links">
                        <a href="#" class="link-1">Главная</a>
                        <a href="#">Услуги</a>
                        <a href="#">Галерея</a>
                        <a href="#">О сайте</a>
                        <a href="#">Контакты</a>
                    </p>
                </div>
                <div class="footer-center">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span>394018, Россия, г. Воронеж,</span>Университетская площадь, 1</p>
                    </div>
                    <div>
                        <i class="fas fa-phone-alt"></i>
                        <p>+7(900) 800 7654</p>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <p><a href="mailto:hnykin_d_e@sc.vsu.ru">hnykin_d_e@sc.vsu.ru</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>О проекте</span>
                        Мы предлагаем нашим клиентам широкий сервис услуг фото - и копицентра.
                    </p>
                    <div class="footer-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-vk"></i></i></a>
                        <a href="#"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="footer_bottom_bar">
        <div class="footer-container">
            <div class="footer-address" data-static="footer-address">
                <p>394018, Россия, г. Воронеж, Университетская площадь, 1</p>

                <p><strong>Developed by Khnykin</strong></p></div>
            <div class="footer-copyrights" data-static="footer-copyright">
                <p>Фотосалон &copy; 2021 ВСЕ ПРАВА ЗАЩИЩЕНЫ</p></div>
        </div>
    </div>

</footer>